@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

:root {
    --regular: 400;
    --medium:500;
    --dark-color:#07070C;
    --bright-color:#FFFCFB;
    --border-color:#BEC0C7;
    --dirty-color:#6E727E;
    --form-color:#16161B;
    --orange-color:#FC552F;
    --bright-orange: #FF9273;
    --small-font: 14px;
    --medium-font: 18px;
    --large-font: 24px;
    --orange-shade:#ffe7e13f;
}

* {
    box-sizing: border-box;
    font-family: "Poppins";
    color: var(--dark-color);
    padding: 0;
    margin: 0;
    background-color: rgba(0, 0, 0, 0);
    align-items: center;
    justify-content: center;
    font-weight: var(--regular);
}

a {
    text-decoration: none;
    color: var(--dirty-color);
}

img {
    width: 100%;
}

button {
    border: 1px solid var(--bright-color);
    border-radius: 10px 40px 10px 40px;
    background-color: var(--orange-color);
    width: 16vw;
    height: 3.5rem;
    max-width: 194px;
    min-width: fit-content;
    padding: 10px;
    font-size: var(--medium-font);
    color: var(--bright-color);
    cursor: pointer;
    text-wrap: nowrap;
}

button:hover {
    background-color: var(--bright-orange);
}

h1, h2, h3, h4, h5 {
    font-weight: var(--medium);
}

h1 {font-size: 68px;}
h2 {font-size: 58px;}
h3 {font-size: 48px;}
h4 {font-size: 38px;}
h5 {font-size: 28px;}
p {
    font-weight: var(--regular);
    color: var(--dirty-color);
}

.unactive_answer {
    display: block;
    overflow: hidden;
    max-height: 0;
    transition: max-height 2s;
}

.active_answer {
    max-height: 35vh;
    transition: max-height 2s;
}

.bubble_menu {
    background-color: var(--bright-color);
    width: 100vw;
    height: 100vh;
    position: fixed;
    margin-top: 10vh;
    z-index: 20;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: hidden;
    .links {
        width: 100%;
        flex-direction: column;
        .link {
            margin-bottom: 3vh;
            text-align: center;
        }
        a {
            color: var(--dark-color);
            font-size: var(--large-font);
        }
        a:hover {
            text-decoration: underline;
        }
    }
    button {
        width: 60%;
    }
}

.unactive_nav {
    max-height: 0;
    transition: max-height 1s;
}

.active_nav {
    max-height: 100vh;
    transition: max-height 1s;
}

.unactive {
    display: none;
}

.active {
    display: block;
}

body {
    width: 100vw;
    overflow-x: hidden;
}

.logo {
    h5 {
        color:var(--orange-color);
    }
}

header {
    width: 100%;
    height: 10vh;
    display: flex;
    nav {
        display: flex;
        width: 75%;
        justify-content: space-between;
    }
}

header nav {
    .menu {
        display: none;
    }
    a:hover {
        text-decoration: underline;
    }
}

header nav .links {
    width: 61vw;
    display: flex;
    .link {
        padding-left: 3vw;
        padding-right: 3vh;
    }
}

.container {
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}


.btn2{
    background-color: var(--bright-color);
    border: 2px solid var(--orange-color);
    color: var(--orange-color);
}

#home {
    width: 100%;
    padding-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#home .text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 35vw;
    margin-bottom: 5vh;
    margin-right: 3vw;
    p {
        margin-top: 5vh;
        margin-bottom: 5vh;
    }
    button {
        margin-right: 2vw;
    }
    div {
        display: flex;
    }
}

form {
    width: 35vw;
    background-color: var(--form-color);
    color: var(--bright-color);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 2vw;
    padding: 3vw;
    border: 1px solid var(--border-color);
    h4 {
        color:var(--bright-color);
        margin-bottom: 4.5vw;
    }
    label {
        background-color: var(--dark-color);
        border-radius: 10px 40px 10px 40px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding-right: 1vw;
        input {
            outline: none;
            color: var(--bright-color);
            border: 0;
            padding-left: 1.5vw;
            height: 5rem;
            font-size: var(--medium-font);
            max-width: 60%;
        }
        button {
            width: 14vw;
            max-width: 40%;
            border: 0;
        }
    }
}

.pictures {
    width: 100%;
    display: flex;
    flex-direction: column;
    .img2 {
        width: 100%;
        height: 35vh;
        margin-top: 4vh;
        overflow: hidden;
        border-radius: 2vw;
        background-position: center;
        background-image: url("img/img2.jpg");
    }
}

.pictures .up {
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 35vh;
    .img1 {
        background-image: url("img/img1.jpg");
        width: 50%;
        height: 100%;
        background-position: center;
        border-radius: 2vw;
    }
}

.pictures .up .left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
    height: 100%;
    .users, .trend {
        width: 100%;
        background-color: var(--orange-color);
        border-radius: 2vw;
        text-align: left;
        align-content: center;
        padding-left: 15%;
        * {
            color: var(--bright-color);
        }
    }
    .users {
        height: 55%;
        div {
            width: 100%;
            height: 100%;
            align-content: center;
        }
        img {
            display: block;
            width: 45%;
            transform: translate(-100%, -50%);
        }
    }
    .trend {
        height: 39%;
    }
}

#pricing {
    width: 100vw;
    margin-top: 15vh;
    display: flex;
    .container {
        flex-direction: column;
        align-items: center;
        h3:nth-child(2) {
            color: var(--orange-color);
            margin-left: 1rem;
        }
        span {
            display: flex;
            margin-bottom: 7vh;
        }
    }
}

#pricing .reviews {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: fit-content;
    .review {
        width: 95%;
        margin: 1vw;
        height: 95%;
        min-width: fit-content;
        border-radius: 5vh;
        border: 1px solid var(--border-color);
        padding: 1.5vw;
        p {
            margin-top: 2vw;
        }
        h5 {
            text-wrap: nowrap;
        }
    }
}

#about {
    width: 100vw;
    margin-top: 10vh;
    padding: 5vh;
    background-color: var(--orange-shade);
    display: flex;
    flex-direction: column;
    .container {
        background-color: var(--bright-color);
        border-radius: 2vw;
        padding: 5vh;
        border: 1px solid var(--border-color);
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

#about .head {
    text-align: center;
    border-radius: 2vw;
    padding: 5vh;
    border: 1px solid var(--border-color);
    background-color: var(--orange-shade);
    min-height: fit-content;
    width: 95%;
    display: flex;
    flex-direction: column;
    p {
        width: 60%;
        margin-top: 2vh;
    }
}

#about .hint {
    border-radius: 2vw;
    padding: 8vh;
    background-color: var(--orange-color);
    height: 30vh;
    width: 95%;
    display: flex;
    color: var(--bright-color);
    justify-content: space-between;
    p {
        color: var(--bright-color);
        margin-top: 2vh;
    }
    h5 {
        color: var(--bright-color);
    }
    button {
        min-width: fit-content;
        width: 20vw;
        height: 4rem;
        max-width: none;
    }
}

#about .questons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 95%;
    margin-top: 5vh;
    margin-bottom: 5vh;
    height: fit-content;
    .queston {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-self: flex-start;
        border-radius: 2vw;
        background-color: var(--orange-shade);
        width: 98%;
        min-height: fit-content;
        margin-bottom: 1vh;
        padding: 2.5vh;
        img {
            width: 2vh;
        }
        h5 {
            font-size: 3vh;
            margin-left: 1vw;
        }
        .btn {
            display: flex;
            height: fit-content;
            margin-bottom: 2vh;
        }
    }
}

#about .questons .queston:nth-child(even) {
    margin-left: 2%;
}

footer {
    background-color: var(--dark-color);
    width: 100%;
    display: flex;
    align-items: center;
}

footer .container {
    width:80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 12vh;
    padding-bottom: 10vh;
    a {
        color: var(--bright-color);
    }
    a:hover {
        text-decoration: underline;
    }
    .logo h5{
        color: var(--bright-color);
    }
    nav {
        display: flex;
        flex-direction: column;
        width: 75%;
        justify-content: space-between;
        .links, .adresses {
            display: flex;
            justify-content: space-between;
            margin-top: 5vh;
            min-width: fit-content;
            .link {
                padding-left: 3vw;
                padding-right: 3vh;
            }
        }
        button {
            display: none;
        }
        .adresses {
            width: 100%;
        }
        .adress {
            display: flex;
            height: 2rem;
            text-wrap: nowrap;
            img {
                height: 100%;
                margin-right: 1vw;
            }
        }
    }
    form {
        border: 1px solid #BEC0C71f;
        width: 100%;
        flex-direction: row;
        align-items: center;
        margin-top: 10vh;
        margin-bottom: 5vh;
        h4{
            margin: 0;
            margin-right: 2vw;
        }
    }
    .low {
        width: 100%;
        display: flex;
        justify-content: space-between;
        p {
            min-width: 30%;
        }
        p:nth-child(1) {
            text-align: left;
        }
        p:nth-child(2) {
            text-align: center;
        }
        p:nth-child(3) {
            text-align: right;
        }
    }
}

@media (max-width:1000px) {
    .container {
        width: 90%;
    }

    header nav {
        width: 90%;
    }

    #about .container {
        width: 98%;
        .head {
            width: 98%;
        }
        .hint {
            width: 98%;
        }
        .questons {
            width: 98%;
        }
    }

    #about .head {
        p {
            width: 90%;
            margin-top: 2vh;
        }
        h3 {
            font-size: 32px;
        }
    }

    #about .questons .queston{
        h5 {
            font-size: 18px;
        }
    }

    footer .container {
        nav {
            width: 100%;
        }
    }
}

@media (max-width:850px) {
    #home form {
        display:none;
    }

    #home .container {
        flex-direction: column;
        width: 80%;
    }

    #home .text {
        text-align: center;
        align-items: center;
        width: 100%;
        button {
            width: 40vw;
        }
    }
    
    #pricing .reviews {
        grid-template-columns: 1fr 1fr;
        .review {
            padding: 3vh;
        }
    }

    .reviews .review:nth-child(3), .review:nth-child(6){
        display: none;
    }

    #pricing span {
        flex-direction: column;

    }

    footer .container form {
        flex-direction: column;
        h4 {
            text-align: center;
            font-size: 32px;
        }
        label {
            margin-top: 4vh;
            margin-bottom: 4vh;
            button {
                width: 40%;
            }
        }
    }
}

@media (max-width:680px) {
    header nav {
        .link {
            display: none;
        }
        button {
            display: none;
        }
        .menu {
            display: block;
        }
        .menu:hover {
            cursor: pointer;
        }
    }

    header {
        position: fixed;
        background-color: var(--bright-color);
        z-index: 20;
    }

    #about .questons {
        display: flex;
        flex-direction: column;
    }

    #about .container {
        width: 100%;
        margin: 0;
        .hint {
            flex-direction: column;
            text-align: center;
            justify-content: center;
            padding: 0;
            .left {
                width: 90%;
                margin-bottom: 2vh;
            }
            button {
                width: 80%;
            }
        }
    }

    footer .container {
        form {
            display:none;
        }
        nav {
            .logo h5 {
                font-size: 42px;
            }
            .links, .adresses {
                flex-direction: column;
                font-size: var(--large-font);
                width: 100%;
                .link, .adress {
                    margin-bottom:3vh;
                }
            }
            .adresses {
                flex-direction: column-reverse;
            }
        }
        .low {
            flex-direction: column;
            p:nth-child(n) {
                margin-bottom: 1vh;
                text-align: center;
                color: var(--bright-color);
            }
        }
        #appeared {
            display: block;
            border: 0;
            width: 50%;
            max-width: none;
        }
    }
}

@media (max-width:500px) {
    
    body {
        overflow-x: hidden;
    }

    #home .container {
        flex-direction: column;
    }

    #home .text{
        div {
            flex-direction: column;
            width: 80%;
            * {
                max-width: none;
                margin-bottom: 3vh;
                margin-right: 0;
                width: 90%;
            }
        }
    }

    #home .up {
        flex-direction: column;
        height: 80vh;
        .img1 {
            width: 100%;
            height: 35vh;
            margin-top: 4vh;
            border-radius: 10vw;
        }
        .left{
            width: 70%;
            height: 40vh;
            * {
                text-align: center;
                border-radius: 10vw;
                padding: 0;
                img {
                    width: 35%;
                    transform: translate(90%, -26.5vh);
                }
            }
        }
    }

    #home .img2 {
        border-radius: 10vw;
    }

    #pricing .reviews {
        grid-template-columns: 1fr;
    }

    .reviews .review:nth-child(3), .review:nth-child(6){
        display: block;
    }

    
    #pricing span h3{
        font-size: 36px;
        text-align: center;
    }

    #about {
        padding: 0;
        .container {
            padding: 2vh;
        }
    }

    footer {
        border-radius: 5vh;
        width: 98vw;
        margin: 1vw;
        overflow: hidden;
    }
}

